@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("/assets/pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.center-div{
    padding-top: 10%;
}
.btn-outline-success{
    padding: .4em 2em;
}
form{
    padding: 0 2em;
}

#login .title>span{
    font-size: .8em;
}